Repository enterprisemodules/oci_config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

oci_core_instance Acceptance test:
  variables:
    type: oci_core_instance
    image: acc_base

oci_identity_user Acceptance test:
  variables:
    type: oci_identity_user
    image: acc_base

oci_identity_group Acceptance test:
  variables:
    type: oci_identity_group
    image: acc_base

oci_budget_budget Acceptance test:
  variables:
    type: oci_budget_budget
    image: acc_base

oci_core_cpe Acceptance test:
  variables:
    type: oci_core_cpe
    image: acc_base

oci_core_drg Acceptance test:
  variables:
    type: oci_core_drg
    image: acc_base

oci_core_ip_sec_connection Acceptance test:
  variables:
    type: oci_core_ip_sec_connection
    image: acc_base

oci_core_vcn Acceptance test:
  variables:
    type: oci_core_vcn
    image: acc_base

oci_core_volume Acceptance test:
  variables:
    type: oci_core_volume
    image: acc_base

oci_identity_dynamic_group Acceptance test:
  variables:
    type: oci_identity_dynamic_group
    image: acc_base

oci_identity_policy Acceptance test:
  variables:
    type: oci_identity_policy
    image: acc_base

oci_identity_tag_namespace Acceptance test:
  variables:
    type: oci_identity_tag_namespace
    image: acc_base

oci_core_volume_group Acceptance test:
  variables:
    type: oci_core_volume_group
    image: acc_base

oci_core_dhcp_options Acceptance test:
  variables:
    type: oci_core_dhcp_options
    image: acc_base

oci_core_volume_backup Acceptance test:
  variables:
    type: oci_core_volume_backup
    image: acc_base

oci_core_internet_gateway Acceptance test:
  variables:
    type: oci_core_internet_gateway
    image: acc_base

oci_core_local_peering_gateway Acceptance test:
  variables:
    type: oci_core_local_peering_gateway
    image: acc_base

oci_core_nat_gateway Acceptance test:
  variables:
    type: oci_core_nat_gateway
    image: acc_base

oci_core_network_security_group Acceptance test:
  variables:
    type: oci_core_network_security_group
    image: acc_base

oci_core_route_table Acceptance test:
  variables:
    type: oci_core_route_table
    image: acc_base

oci_core_security_list Acceptance test:
  variables:
    type: oci_core_security_list
    image: acc_base

oci_core_service_gateway Acceptance test:
  variables:
    type: oci_core_service_gateway
    image: acc_base

oci_core_public_ip Acceptance test:
  variables:
    type: oci_core_public_ip
    image: acc_base

oci_file_storage_export Acceptance test:
  variables:
    type: oci_file_storage_export
    image: acc_base

oci_file_storage_file_system Acceptance test:
  variables:
    type: oci_file_storage_file_system
    image: acc_base

oci_file_storage_mount_target Acceptance test:
  variables:
    type: oci_file_storage_mount_target
    image: acc_base

oci_object_storage_bucket Acceptance test:
  variables:
    type: oci_object_storage_bucket
    image: acc_base

[core] Make OCI retry settings configurable through oci_tenant
  lib/puppet/type/oci_tenant.rb
  lib/puppet/type/oci_tenant/base_sleep_time_millis.rb
  lib/puppet/type/oci_tenant/max_attempts.rb
  lib/puppet/type/oci_tenant/max_elapsed_time_millis.rb
  lib/puppet/type/oci_tenant/max_sleep_between_attempts_millis.rb
  lib/puppet/type/oci_tenant/sleep_calc_millis_proc.rb
  lib/puppet_x/enterprisemodules/oci/config.rb
  lib/puppet_x/enterprisemodules/oci/type.rb
Due: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

[core] Don’t used destroyed resources for name resolving
  lib/puppet_x/enterprisemodules/oci/name_resolver.rb
Due: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

[oci_core_instance] Fix detection of used devices
  lib/puppet/type/oci_core_instance/attached_volumes.rb
Due: oci_core_instance Acceptance test

[oci_task] Fix error when invalid tenant format is used
  .rubocop.yml
  Gemfile.lock
  generate/yaml_generator.rb
  lib/puppet_x/enterprisemodules/oci/oci_task.rb
Due: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

[core] Fix warning: previous definition of xxx was here
  lib/puppet_x/enterprisemodules/oci/associated_property.rb
  lib/puppet_x/enterprisemodules/oci/config.rb
  lib/puppet_x/enterprisemodules/oci/service_info.rb
  lib/puppet_x/enterprisemodules/oci/type.rb
Due: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

[oci_database_autonomous_database] fix error unrecognized key 'machine_learning_user_management_url'
  types/autonomousdatabaseconnectionurls.pp
Due: none

Stop sending analytics for oci_config::wait_until_unavaliable to bolt/puppet
  lib/puppet/functions/oci_config/wait_until_unavailable.rb
Due: none

[oci_database_database] Initial implementation (experimental)
  Rakefile
  generate/types.yaml
  lib/puppet/provider/oci_database_database/.identity.rb
  lib/puppet/provider/oci_database_database/sdk.rb
  lib/puppet/type/oci_database_database.rb
  lib/puppet/type/oci_database_database/admin_password.rb
  lib/puppet/type/oci_database_database/character_set.rb
  lib/puppet/type/oci_database_database/connection_strings.rb
  lib/puppet/type/oci_database_database/database_name.rb
  lib/puppet/type/oci_database_database/db_backup_config.rb
  lib/puppet/type/oci_database_database/db_home.rb
  lib/puppet/type/oci_database_database/db_home_id.rb
  lib/puppet/type/oci_database_database/db_name.rb
  lib/puppet/type/oci_database_database/db_system.rb
  lib/puppet/type/oci_database_database/db_system_id.rb
  lib/puppet/type/oci_database_database/db_unique_name.rb
  lib/puppet/type/oci_database_database/db_workload.rb
  lib/puppet/type/oci_database_database/defined_tags.rb
  lib/puppet/type/oci_database_database/freeform_tags.rb
  lib/puppet/type/oci_database_database/lifecycle_state.rb
  lib/puppet/type/oci_database_database/name.rb
  lib/puppet/type/oci_database_database/ncharacter_set.rb
  lib/puppet/type/oci_database_database/pdb_name.rb
  lib/puppet/type/oci_database_database/time_created.rb
  lib/puppet/type/oci_database_database/vm_cluster.rb
  lib/puppet/type/oci_database_database/vm_cluster_id.rb
  lib/puppet_x/enterprisemodules/oci/model_additions.rb
  lib/puppet_x/enterprisemodules/oci/resource_lister.rb
  lib/puppet_x/enterprisemodules/oci/service_info.rb
  types/databaseconnectionstrings.pp
  types/dbbackupconfig.pp
  types/maintenancewindow.pp
Due: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

[core] Fix undefined method `status_code' for #<OCI::Errors::NetworkError:>
  lib/puppet_x/enterprisemodules/oci/config.rb
Due: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

[core] Fix fetching when referencing unknown or terminated resources
  lib/puppet_x/enterprisemodules/oci/property.rb
Due: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

[core] Pass tag keys and values unaltered to OCI
  lib/puppet_x/enterprisemodules/oci/monkey_patches/hash.rb
Due: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

[quality] Fix rubocop messages
  .rubocop.yml
  Gemfile.lock
  lib/puppet_x/enterprisemodules/oci/associated_property.rb
  lib/puppet_x/enterprisemodules/oci/resource_lister.rb
Due: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

[quality] Use Oracle Linux 7.8
  spec/acceptance/oci_core_instance_spec.rb
Due: oci_core_instance Acceptance test

[quality] Use Oracle Linux 7.8 for all tests of instances
  spec/acceptance/oci_core_instance_spec.rb
Due: oci_core_instance Acceptance test

[pdk-convert] .sync.yml added
  .sync.yml
Due: none

[pdk-convert] Convert performed
  .gitignore
  .puppet-lint.rc
  .rspec
  metadata.json
  spec/default_facts.yml
Due: none

[core] Handle casing for resource types
  lib/puppet_x/enterprisemodules/oci/property.rb
Due: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

[quality] Fix rubocop messages
  .rubocop.yml
  generate/type_generator.rb
  lib/puppet/type/oci_tenant/base_sleep_time_millis.rb
  lib/puppet_x/enterprisemodules/oci/config.rb
  lib/puppet_x/enterprisemodules/oci/core.rb
  lib/puppet_x/enterprisemodules/oci/oci_task.rb
Due: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

[facts] Fix long waiting times for fetching oci client facts
  lib/facter/oci_client_facts.rb
Due: none

[core] Add basic support for tag namespaces and tag definitions
  Rakefile
  generate/types.yaml
  lib/puppet_x/enterprisemodules/oci/model_additions.rb
  lib/puppet_x/enterprisemodules/oci/name_resolver.rb
  lib/puppet_x/enterprisemodules/oci/resource_lister.rb
  lib/puppet_x/enterprisemodules/oci/service_info.rb
  lib/puppet_x/enterprisemodules/oci/type.rb
Due: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

[oci_identity_tag] Initial implementation
  .gitlab-ci.yml
  examples/tag.pp
  lib/puppet/provider/oci_identity_tag/.identity.rb
  lib/puppet/provider/oci_identity_tag/sdk.rb
  lib/puppet/type/oci_identity_tag.rb
  lib/puppet/type/oci_identity_tag/defined_tags.rb
  lib/puppet/type/oci_identity_tag/description.rb
  lib/puppet/type/oci_identity_tag/freeform_tags.rb
  lib/puppet/type/oci_identity_tag/is_cost_tracking.rb
  lib/puppet/type/oci_identity_tag/is_retired.rb
  lib/puppet/type/oci_identity_tag/lifecycle_state.rb
  lib/puppet/type/oci_identity_tag/name.rb
  lib/puppet/type/oci_identity_tag/tag_name.rb
  lib/puppet/type/oci_identity_tag/tag_namespace.rb
  lib/puppet/type/oci_identity_tag/tag_namespace_id.rb
  lib/puppet/type/oci_identity_tag/tag_namespace_name.rb
  lib/puppet/type/oci_identity_tag/time_created.rb
  lib/puppet/type/oci_identity_tag/validator.rb
  spec/acceptance/oci_identity_tag_namespace_spec.rb
  spec/acceptance/oci_identity_tag_spec.rb
  types/basetagdefinitionvalidator.pp
Due: oci_identity_tag_namespace Acceptance test

[oci_identity_tag_default] Initial implementation
  .gitlab-ci.yml
  examples/tag_default.pp
  lib/puppet/provider/oci_identity_tag_default/.identity.rb
  lib/puppet/provider/oci_identity_tag_default/sdk.rb
  lib/puppet/type/oci_identity_tag_default.rb
  lib/puppet/type/oci_identity_tag_default/is_required.rb
  lib/puppet/type/oci_identity_tag_default/lifecycle_state.rb
  lib/puppet/type/oci_identity_tag_default/name.rb
  lib/puppet/type/oci_identity_tag_default/tag_default_name.rb
  lib/puppet/type/oci_identity_tag_default/tag_definition.rb
  lib/puppet/type/oci_identity_tag_default/tag_definition_id.rb
  lib/puppet/type/oci_identity_tag_default/tag_definition_name.rb
  lib/puppet/type/oci_identity_tag_default/tag_namespace.rb
  lib/puppet/type/oci_identity_tag_default/tag_namespace_id.rb
  lib/puppet/type/oci_identity_tag_default/time_created.rb
  lib/puppet/type/oci_identity_tag_default/value.rb
  spec/acceptance/oci_identity_tag_default_spec.rb
Due: none

[core] Fix casing issue on metadata
  lib/puppet_x/enterprisemodules/oci/monkey_patches/hash.rb
Due: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

[oci_core_instance] Fix handling of ssh-authorized-keys & user_data
  lib/puppet/type/oci_core_instance.rb
  lib/puppet/type/oci_core_instance/ssh_authorized_keys.rb
  lib/puppet/type/oci_core_instance/user_data.rb
Due: oci_core_instance Acceptance test

[oci_identity_tag_defaults] Fix idempotency issues
  lib/puppet/type/oci_identity_tag_default.rb
  lib/puppet/type/oci_identity_tag_default/tag_definition.rb
  lib/puppet_x/enterprisemodules/oci/model_additions.rb
  lib/puppet_x/enterprisemodules/oci/resource_lister.rb
Due: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

[oci_core_instance] user_data needs struct base64 encoding to work
  lib/puppet/type/oci_core_instance.rb
Due: oci_core_instance Acceptance test

[oci_core_instance] Don’t camel case extended_metadata
  lib/puppet_x/enterprisemodules/oci/monkey_patches/hash.rb
Due: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

[core] Use our own oci 2.10.1 gem
  data/common.yaml
  files/oci-2.10.1.gem
Due: none

Update to version 0.11.3
  CHANGELOG.md
  metadata.json
Due: none

[oci_core_instance] Fix fetching of bootdisk id’s when launching multiple instances
  Gemfile.lock
  examples/instance.pp
  lib/puppet_x/enterprisemodules/oci/name_resolver.rb
  lib/puppet_x/enterprisemodules/oci/type.rb
Due: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

[generator] use the FULL data type spec instead of the reference
  Gemfile.lock
  generate/templates/property.rb.erb
  generate/templates/reference_array_property.rb.erb
  generate/templates/reference_property.rb.erb
  generate/templates/referenced_array_property.rb.erb
  generate/templates/referenced_property.rb.erb
Due: none

[quality] Remove acceptancd testing for tags for now
  .gitlab-ci.yml
  spec/acceptance/oci_identity_tag_default_spec.rb
  spec/acceptance/oci_identity_tag_namespace_spec.rb
Due: oci_identity_tag_namespace Acceptance test

[core] Increase timeouts when creating resources
  lib/puppet_x/enterprisemodules/oci/config.rb
  lib/puppet_x/enterprisemodules/oci/type.rb
Due: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

[oci_file_storage_snapshot] initial implementation
  .gitlab-ci.yml
  Gemfile.lock
  Rakefile
  examples/snapshot.pp
  generate/types.yaml
  lib/puppet/provider/oci_file_storage_snapshot/.identity.rb
  lib/puppet/provider/oci_file_storage_snapshot/sdk.rb
  lib/puppet/type/oci_file_storage_export/name.rb
  lib/puppet/type/oci_file_storage_snapshot.rb
  lib/puppet/type/oci_file_storage_snapshot/defined_tags.rb
  lib/puppet/type/oci_file_storage_snapshot/file_system.rb
  lib/puppet/type/oci_file_storage_snapshot/file_system_id.rb
  lib/puppet/type/oci_file_storage_snapshot/freeform_tags.rb
  lib/puppet/type/oci_file_storage_snapshot/lifecycle_state.rb
  lib/puppet/type/oci_file_storage_snapshot/name.rb
  lib/puppet/type/oci_file_storage_snapshot/snapshot_name.rb
  lib/puppet/type/oci_file_storage_snapshot/time_created.rb
  lib/puppet_x/enterprisemodules/oci/model_additions.rb
  lib/puppet_x/enterprisemodules/oci/resource_lister.rb
  lib/puppet_x/enterprisemodules/oci/service_info.rb
  lib/puppet_x/enterprisemodules/oci/type.rb
  spec/acceptance/oci_file_storage_snapshot_spec.rb
Due: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

[documentation] Fix some typo’s
  REFERENCE.md
  tasks/create_block_volume_backup.json
  tasks/database_action.json
  tasks/instance_action.json
Due: none

Path conditions:
  oci_core_instance Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_instance.rb, lib/puppet/type/oci_core_instance/*.rb, lib/provider/oci_core_instance/*.rb, spec/acceptance/oci_core_instance_spec.rb
  oci_identity_user Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_identity_user.rb, lib/puppet/type/oci_identity_user/*.rb, lib/provider/oci_identity_user/*.rb, spec/acceptance/oci_identity_user_spec.rb
  oci_identity_group Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_identity_group.rb, lib/puppet/type/oci_identity_group/*.rb, lib/provider/oci_identity_group/*.rb, spec/acceptance/oci_identity_group_spec.rb
  oci_budget_budget Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_budget_budget.rb, lib/puppet/type/oci_budget_budget/*.rb, lib/provider/oci_budget_budget/*.rb, spec/acceptance/oci_budget_budget_spec.rb
  oci_core_cpe Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_cpe.rb, lib/puppet/type/oci_core_cpe/*.rb, lib/provider/oci_core_cpe/*.rb, spec/acceptance/oci_core_cpe_spec.rb
  oci_core_drg Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_drg.rb, lib/puppet/type/oci_core_drg/*.rb, lib/provider/oci_core_drg/*.rb, spec/acceptance/oci_core_drg_spec.rb
  oci_core_ip_sec_connection Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_ip_sec_connection.rb, lib/puppet/type/oci_core_ip_sec_connection/*.rb, lib/provider/oci_core_ip_sec_connection/*.rb, spec/acceptance/oci_core_ip_sec_connection_spec.rb
  oci_core_vcn Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_vcn.rb, lib/puppet/type/oci_core_vcn/*.rb, lib/provider/oci_core_vcn/*.rb, spec/acceptance/oci_core_vcn_spec.rb
  oci_core_volume Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_volume.rb, lib/puppet/type/oci_core_volume/*.rb, lib/provider/oci_core_volume/*.rb, spec/acceptance/oci_core_volume_spec.rb
  oci_identity_dynamic_group Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_identity_dynamic_group.rb, lib/puppet/type/oci_identity_dynamic_group/*.rb, lib/provider/oci_identity_dynamic_group/*.rb, spec/acceptance/oci_identity_dynamic_group_spec.rb
  oci_identity_policy Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_identity_policy.rb, lib/puppet/type/oci_identity_policy/*.rb, lib/provider/oci_identity_policy/*.rb, spec/acceptance/oci_identity_policy_spec.rb
  oci_identity_tag_namespace Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_identity_tag_namespace.rb, lib/puppet/type/oci_identity_tag_namespace/*.rb, lib/provider/oci_identity_tag_namespace/*.rb, spec/acceptance/oci_identity_tag_namespace_spec.rb
  oci_core_volume_group Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_volume_group.rb, lib/puppet/type/oci_core_volume_group/*.rb, lib/provider/oci_core_volume_group/*.rb, spec/acceptance/oci_core_volume_group_spec.rb
  oci_core_dhcp_options Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_dhcp_options.rb, lib/puppet/type/oci_core_dhcp_options/*.rb, lib/provider/oci_core_dhcp_options/*.rb, spec/acceptance/oci_core_dhcp_options_spec.rb
  oci_core_volume_backup Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_volume_backup.rb, lib/puppet/type/oci_core_volume_backup/*.rb, lib/provider/oci_core_volume_backup/*.rb, spec/acceptance/oci_core_volume_backup_spec.rb
  oci_core_internet_gateway Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_internet_gateway.rb, lib/puppet/type/oci_core_internet_gateway/*.rb, lib/provider/oci_core_internet_gateway/*.rb, spec/acceptance/oci_core_internet_gateway_spec.rb
  oci_core_local_peering_gateway Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_local_peering_gateway.rb, lib/puppet/type/oci_core_local_peering_gateway/*.rb, lib/provider/oci_core_local_peering_gateway/*.rb, spec/acceptance/oci_core_local_peering_gateway_spec.rb
  oci_core_nat_gateway Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_nat_gateway.rb, lib/puppet/type/oci_core_nat_gateway/*.rb, lib/provider/oci_core_nat_gateway/*.rb, spec/acceptance/oci_core_nat_gateway_spec.rb
  oci_core_network_security_group Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_network_security_group.rb, lib/puppet/type/oci_core_network_security_group/*.rb, lib/provider/oci_core_network_security_group/*.rb, spec/acceptance/oci_core_network_security_group_spec.rb
  oci_core_route_table Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_route_table.rb, lib/puppet/type/oci_core_route_table/*.rb, lib/provider/oci_core_route_table/*.rb, spec/acceptance/oci_core_route_table_spec.rb
  oci_core_security_list Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_security_list.rb, lib/puppet/type/oci_core_security_list/*.rb, lib/provider/oci_core_security_list/*.rb, spec/acceptance/oci_core_security_list_spec.rb
  oci_core_service_gateway Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_service_gateway.rb, lib/puppet/type/oci_core_service_gateway/*.rb, lib/provider/oci_core_service_gateway/*.rb, spec/acceptance/oci_core_service_gateway_spec.rb
  oci_core_public_ip Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_public_ip.rb, lib/puppet/type/oci_core_public_ip/*.rb, lib/provider/oci_core_public_ip/*.rb, spec/acceptance/oci_core_public_ip_spec.rb
  oci_file_storage_export Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_file_storage_export.rb, lib/puppet/type/oci_file_storage_export/*.rb, lib/provider/oci_file_storage_export/*.rb, spec/acceptance/oci_file_storage_export_spec.rb
  oci_file_storage_file_system Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_file_storage_file_system.rb, lib/puppet/type/oci_file_storage_file_system/*.rb, lib/provider/oci_file_storage_file_system/*.rb, spec/acceptance/oci_file_storage_file_system_spec.rb
  oci_file_storage_mount_target Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_file_storage_mount_target.rb, lib/puppet/type/oci_file_storage_mount_target/*.rb, lib/provider/oci_file_storage_mount_target/*.rb, spec/acceptance/oci_file_storage_mount_target_spec.rb
  oci_object_storage_bucket Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_object_storage_bucket.rb, lib/puppet/type/oci_object_storage_bucket/*.rb, lib/provider/oci_object_storage_bucket/*.rb, spec/acceptance/oci_object_storage_bucket_spec.rb
