Repository enterprisemodules/oci_config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

oci_core_instance Acceptance test:
  variables:
    type: oci_core_instance
    image: acc_base

oci_identity_user Acceptance test:
  variables:
    type: oci_identity_user
    image: acc_base

oci_identity_group Acceptance test:
  variables:
    type: oci_identity_group
    image: acc_base

oci_budget_budget Acceptance test:
  variables:
    type: oci_budget_budget
    image: acc_base

oci_core_cpe Acceptance test:
  variables:
    type: oci_core_cpe
    image: acc_base

oci_core_drg Acceptance test:
  variables:
    type: oci_core_drg
    image: acc_base

oci_core_ip_sec_connection Acceptance test:
  variables:
    type: oci_core_ip_sec_connection
    image: acc_base

oci_core_vcn Acceptance test:
  variables:
    type: oci_core_vcn
    image: acc_base

oci_core_volume Acceptance test:
  variables:
    type: oci_core_volume
    image: acc_base

oci_identity_dynamic_group Acceptance test:
  variables:
    type: oci_identity_dynamic_group
    image: acc_base

oci_identity_policy Acceptance test:
  variables:
    type: oci_identity_policy
    image: acc_base

oci_identity_tag_namespace Acceptance test:
  variables:
    type: oci_identity_tag_namespace
    image: acc_base

oci_core_volume_group Acceptance test:
  variables:
    type: oci_core_volume_group
    image: acc_base

oci_core_dhcp_options Acceptance test:
  variables:
    type: oci_core_dhcp_options
    image: acc_base

oci_core_volume_backup Acceptance test:
  variables:
    type: oci_core_volume_backup
    image: acc_base

oci_core_internet_gateway Acceptance test:
  variables:
    type: oci_core_internet_gateway
    image: acc_base

oci_core_local_peering_gateway Acceptance test:
  variables:
    type: oci_core_local_peering_gateway
    image: acc_base

oci_core_nat_gateway Acceptance test:
  variables:
    type: oci_core_nat_gateway
    image: acc_base

oci_core_network_security_group Acceptance test:
  variables:
    type: oci_core_network_security_group
    image: acc_base

oci_core_route_table Acceptance test:
  variables:
    type: oci_core_route_table
    image: acc_base

oci_core_security_list Acceptance test:
  variables:
    type: oci_core_security_list
    image: acc_base

oci_core_service_gateway Acceptance test:
  variables:
    type: oci_core_service_gateway
    image: acc_base

oci_core_public_ip Acceptance test:
  variables:
    type: oci_core_public_ip
    image: acc_base

oci_file_storage_export Acceptance test:
  variables:
    type: oci_file_storage_export
    image: acc_base

oci_file_storage_file_system Acceptance test:
  variables:
    type: oci_file_storage_file_system
    image: acc_base

oci_file_storage_mount_target Acceptance test:
  variables:
    type: oci_file_storage_mount_target
    image: acc_base

oci_object_storage_bucket Acceptance test:
  variables:
    type: oci_object_storage_bucket
    image: acc_base

[tasks/create_snapshot] initial implementation
  lib/puppet_x/enterprisemodules/oci/oci_task.rb
  tasks/create_snapshot.json
  tasks/create_snapshot.rb
Due: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

[tasks/delete_snapshot] Initial implementation
  tasks/delete_snapshot.json
  tasks/delete_snapshot.rb
Due: none

[quality] Fix rubocop messages
  Gemfile.lock
  lib/puppet/type/oci_file_storage_export/name.rb
  lib/puppet/type/oci_file_storage_snapshot.rb
  lib/puppet/type/oci_file_storage_snapshot/name.rb
  lib/puppet_x/enterprisemodules/oci/oci_task.rb
  lib/puppet_x/enterprisemodules/oci/resource_lister.rb
  lib/puppet_x/enterprisemodules/oci/type.rb
  tasks/create_snapshot.rb
  tasks/delete_snapshot.rb
Due: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

[tasks/get_resource_data] Initial implementation
  lib/puppet_x/enterprisemodules/oci/oci_task.rb
  tasks/get_resource_data.json
  tasks/get_resource_data.rb
Due: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

[task/delete_snapshot] Fix metadata
  tasks/delete_snapshot.json
Due: none

[core] better error message when spicifying undefined tenant
  lib/puppet_x/enterprisemodules/oci/config.rb
Due: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

[tasks/get_resource_data] Throw error when resource does not exists
  lib/puppet_x/enterprisemodules/oci/oci_task.rb
  tasks/get_resource_data.rb
Due: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

[quality] Use latest bolt and litmus again
  .fixtures.yml
  Gemfile
  Gemfile.lock
  Rakefile
  spec/support/shared_acceptance_specs.rb
Due: none

[quality] Fix some acceptance tests
  spec/acceptance/oci_core_internet_gateway_spec.rb
  spec/acceptance/oci_core_vcn_spec.rb
  spec/acceptance/oci_core_volume_backup_spec.rb
  spec/acceptance/oci_core_volume_group_spec.rb
  spec/acceptance/oci_core_volume_spec.rb
Due: oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_core_volume_group Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test

[oci_core_instance] Add compartment and name to instance metadata
  examples/instance.pp
  lib/puppet/type/oci_core_instance.rb
  lib/puppet/type/oci_core_instance/augment_metadata.rb
Due: oci_core_instance Acceptance test

[quality] Use same bolt setup as other modules
  .fixtures.yml
  Gemfile
  Gemfile.lock
  Rakefile
  develop.sh
Due: none

[release] Add puppet 7 support to metadata
  metadata.json
Due: none

[core] Fix name caching when single entry is added to empty cache
  lib/puppet_x/enterprisemodules/oci/name_resolver.rb
  lib/puppet_x/enterprisemodules/oci/type.rb
Due: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

[quality] Fix the oci_core_instance acceptance test
  examples/instance.pp
  spec/acceptance/oci_core_instance_spec.rb
Due: oci_core_instance Acceptance test

[quality] Fix rubocop findings
  .rubocop.yml
Due: none

opc/v1 -> opc/v2
  lib/facter/oci_client_facts.rb
Due: none

authorization added
  lib/facter/oci_client_facts.rb
Due: none

http.add_field added
  lib/facter/oci_client_facts.rb
Due: none

auth header toegevoegd
  lib/facter/oci_client_facts.rb
Due: none

Checks whether v1 uri is available, if not use v2
  lib/facter/oci_client_facts.rb
Due: none

geen versie toggle
  lib/facter/oci_client_facts.rb
Due: none

[quality] Fix unit tests
  Gemfile
  Gemfile.lock
  Rakefile
  lib/puppet/type/oci_core_instance/boot_volumes.rb
  lib/puppet_x/enterprisemodules/oci/monkey_patches/oci.rb
  lib/puppet_x/enterprisemodules/oci/type.rb
Due: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

[core] Fix for usage with Puppet 8 and 2.21.1 gem
  lib/puppet/type/oci_budget_budget/reset_period.rb
  lib/puppet/type/oci_core_instance/shape_config.rb
  lib/puppet_x/enterprisemodules/oci/config.rb
  lib/puppet_x/enterprisemodules/oci/model_additions.rb
  lib/puppet_x/enterprisemodules/oci/resource_lister.rb
  lib/puppet_x/enterprisemodules/oci/type.rb
  spec/acceptance/oci_core_instance_spec.rb
Due: oci_core_instance Acceptance test, oci_identity_user Acceptance test, oci_identity_group Acceptance test, oci_budget_budget Acceptance test, oci_core_cpe Acceptance test, oci_core_drg Acceptance test, oci_core_ip_sec_connection Acceptance test, oci_core_vcn Acceptance test, oci_core_volume Acceptance test, oci_identity_dynamic_group Acceptance test, oci_identity_policy Acceptance test, oci_identity_tag_namespace Acceptance test, oci_core_volume_group Acceptance test, oci_core_dhcp_options Acceptance test, oci_core_volume_backup Acceptance test, oci_core_internet_gateway Acceptance test, oci_core_local_peering_gateway Acceptance test, oci_core_nat_gateway Acceptance test, oci_core_network_security_group Acceptance test, oci_core_route_table Acceptance test, oci_core_security_list Acceptance test, oci_core_service_gateway Acceptance test, oci_core_public_ip Acceptance test, oci_file_storage_export Acceptance test, oci_file_storage_file_system Acceptance test, oci_file_storage_mount_target Acceptance test, oci_object_storage_bucket Acceptance test

[core] Update meta data and add support for Puppet 8
  lib/puppet/type/oci_core_route_table/route_rules.rb
  lib/puppet/type/oci_file_storage_export/export_options.rb
  metadata.json
Due: oci_core_route_table Acceptance test, oci_file_storage_export Acceptance test

Path conditions:
  oci_core_instance Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_instance.rb, lib/puppet/type/oci_core_instance/*.rb, lib/provider/oci_core_instance/*.rb, spec/acceptance/oci_core_instance_spec.rb
  oci_identity_user Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_identity_user.rb, lib/puppet/type/oci_identity_user/*.rb, lib/provider/oci_identity_user/*.rb, spec/acceptance/oci_identity_user_spec.rb
  oci_identity_group Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_identity_group.rb, lib/puppet/type/oci_identity_group/*.rb, lib/provider/oci_identity_group/*.rb, spec/acceptance/oci_identity_group_spec.rb
  oci_budget_budget Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_budget_budget.rb, lib/puppet/type/oci_budget_budget/*.rb, lib/provider/oci_budget_budget/*.rb, spec/acceptance/oci_budget_budget_spec.rb
  oci_core_cpe Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_cpe.rb, lib/puppet/type/oci_core_cpe/*.rb, lib/provider/oci_core_cpe/*.rb, spec/acceptance/oci_core_cpe_spec.rb
  oci_core_drg Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_drg.rb, lib/puppet/type/oci_core_drg/*.rb, lib/provider/oci_core_drg/*.rb, spec/acceptance/oci_core_drg_spec.rb
  oci_core_ip_sec_connection Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_ip_sec_connection.rb, lib/puppet/type/oci_core_ip_sec_connection/*.rb, lib/provider/oci_core_ip_sec_connection/*.rb, spec/acceptance/oci_core_ip_sec_connection_spec.rb
  oci_core_vcn Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_vcn.rb, lib/puppet/type/oci_core_vcn/*.rb, lib/provider/oci_core_vcn/*.rb, spec/acceptance/oci_core_vcn_spec.rb
  oci_core_volume Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_volume.rb, lib/puppet/type/oci_core_volume/*.rb, lib/provider/oci_core_volume/*.rb, spec/acceptance/oci_core_volume_spec.rb
  oci_identity_dynamic_group Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_identity_dynamic_group.rb, lib/puppet/type/oci_identity_dynamic_group/*.rb, lib/provider/oci_identity_dynamic_group/*.rb, spec/acceptance/oci_identity_dynamic_group_spec.rb
  oci_identity_policy Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_identity_policy.rb, lib/puppet/type/oci_identity_policy/*.rb, lib/provider/oci_identity_policy/*.rb, spec/acceptance/oci_identity_policy_spec.rb
  oci_identity_tag_namespace Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_identity_tag_namespace.rb, lib/puppet/type/oci_identity_tag_namespace/*.rb, lib/provider/oci_identity_tag_namespace/*.rb, spec/acceptance/oci_identity_tag_namespace_spec.rb
  oci_core_volume_group Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_volume_group.rb, lib/puppet/type/oci_core_volume_group/*.rb, lib/provider/oci_core_volume_group/*.rb, spec/acceptance/oci_core_volume_group_spec.rb
  oci_core_dhcp_options Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_dhcp_options.rb, lib/puppet/type/oci_core_dhcp_options/*.rb, lib/provider/oci_core_dhcp_options/*.rb, spec/acceptance/oci_core_dhcp_options_spec.rb
  oci_core_volume_backup Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_volume_backup.rb, lib/puppet/type/oci_core_volume_backup/*.rb, lib/provider/oci_core_volume_backup/*.rb, spec/acceptance/oci_core_volume_backup_spec.rb
  oci_core_internet_gateway Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_internet_gateway.rb, lib/puppet/type/oci_core_internet_gateway/*.rb, lib/provider/oci_core_internet_gateway/*.rb, spec/acceptance/oci_core_internet_gateway_spec.rb
  oci_core_local_peering_gateway Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_local_peering_gateway.rb, lib/puppet/type/oci_core_local_peering_gateway/*.rb, lib/provider/oci_core_local_peering_gateway/*.rb, spec/acceptance/oci_core_local_peering_gateway_spec.rb
  oci_core_nat_gateway Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_nat_gateway.rb, lib/puppet/type/oci_core_nat_gateway/*.rb, lib/provider/oci_core_nat_gateway/*.rb, spec/acceptance/oci_core_nat_gateway_spec.rb
  oci_core_network_security_group Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_network_security_group.rb, lib/puppet/type/oci_core_network_security_group/*.rb, lib/provider/oci_core_network_security_group/*.rb, spec/acceptance/oci_core_network_security_group_spec.rb
  oci_core_route_table Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_route_table.rb, lib/puppet/type/oci_core_route_table/*.rb, lib/provider/oci_core_route_table/*.rb, spec/acceptance/oci_core_route_table_spec.rb
  oci_core_security_list Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_security_list.rb, lib/puppet/type/oci_core_security_list/*.rb, lib/provider/oci_core_security_list/*.rb, spec/acceptance/oci_core_security_list_spec.rb
  oci_core_service_gateway Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_service_gateway.rb, lib/puppet/type/oci_core_service_gateway/*.rb, lib/provider/oci_core_service_gateway/*.rb, spec/acceptance/oci_core_service_gateway_spec.rb
  oci_core_public_ip Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_core_public_ip.rb, lib/puppet/type/oci_core_public_ip/*.rb, lib/provider/oci_core_public_ip/*.rb, spec/acceptance/oci_core_public_ip_spec.rb
  oci_file_storage_export Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_file_storage_export.rb, lib/puppet/type/oci_file_storage_export/*.rb, lib/provider/oci_file_storage_export/*.rb, spec/acceptance/oci_file_storage_export_spec.rb
  oci_file_storage_file_system Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_file_storage_file_system.rb, lib/puppet/type/oci_file_storage_file_system/*.rb, lib/provider/oci_file_storage_file_system/*.rb, spec/acceptance/oci_file_storage_file_system_spec.rb
  oci_file_storage_mount_target Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_file_storage_mount_target.rb, lib/puppet/type/oci_file_storage_mount_target/*.rb, lib/provider/oci_file_storage_mount_target/*.rb, spec/acceptance/oci_file_storage_mount_target_spec.rb
  oci_object_storage_bucket Acceptance test: any of: lib/puppet/feature/*.rb, lib/puppet_x/**/*.rb, lib/puppet/type/oci_object_storage_bucket.rb, lib/puppet/type/oci_object_storage_bucket/*.rb, lib/provider/oci_object_storage_bucket/*.rb, spec/acceptance/oci_object_storage_bucket_spec.rb
